<html>
  <head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <style></style>
  <body>
    <div class="outerDisplaySetupContainer">
      <div class="singleVideo displaySetupContainer">
		<p>Single Video:</p>
		<input id="singleVidInput" type="text" value="File Location">
	  </div>
	  <div class="multiVideo displaySetupContainer">
	  </div>
	  <div class="webGLVideo displaySetupContainer">
	  </div>
    </div>
	<div class="videoDisplayContainer">
		<div class="videoControlsContainer">
			<div class="playbackControls"></div>
			<div class="sizeControls"><div>
			<div class="rotateControls"></div>
		</div>
		<div class="videoMainContainer">
			<video id="westVideo" width="" height="">
			</video>
			<video width="" height="">
			</video>
			<video width="" height="">
			</video>
			<video width="" height="">
			</video>
		</div>
	<div>

